body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background: rgb(28,0,36);
    background: linear-gradient(71deg, rgba(28,0,36,0.5130427170868348) 56%, rgba(177,10,198,0.5494572829131652) 74%,
    rgba(0,99,255,1) 100%);
    background-attachment: fixed;
}

/* max szerokość kolumny 1200px i wyśrodkowanie */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* pozbywamy się podkreśleń linków */
a {
    text-decoration: none;
}

/* logo po lewej, przycisk logowania po prawej */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
}

/* przycisk logowania oraz ikonka użytkownika po prawej stronie*/
#right-nav{
    float: right;
    align-items: center;
    padding: 16px 0;
}


/* kolorowe logo */
.logo {

    font-size: 2em;
    font-weight: 400;
}

.login-button {
    scale: 0.8;
    padding: 1em 2em;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #4e0c57;
    transition: all 1000ms;
    font-size: 15px;
    position: relative;
    overflow: hidden;
    outline: 2px solid #4e0c57;
}

.login-button:hover {
    color: #ffffff;
    transform: scale(1.1);
    outline: 2px solid #871196;
    box-shadow: 4px 5px 17px -4px #4e0c57;
}

.login-button::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #4e0c57;
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
}

.login-button:hover::before {
    width: 250%;
}

/* usuwamy domyślne style przeglądarki i dodajemy flexboxa,
kafelki mają zajmować tyle samo miejsca */
.categories > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

/* kafelki mają wypełniać całą przestrzeń i być lekko przezroczyste */
.categories > ul > li {
    flex-grow: 1;
    padding: 0.5rem;
    font-weight: 500;
    border: 2px solid;
    color: white;
    opacity: 0.8;
}

/* po najechaniu na kafelek usuwamy przezroczystość */
.categories > ul > li:hover {
    opacity: 1;
}

/* wyśrodkowanie tekstu na kafelkach i zmiana koloru linków */
.categories > ul > li > a {
    color: inherit;
    display: block;
    text-align: center;
}

/* kolor kafelków */
.categories > ul > li {
    background-color: #4e0c57;
}


/* ramka i odstępy */
.discovery {
    border: 1px solid #BDBDBD;
    border-radius: 4px;
    margin-top: 10px;
    padding: 16px;
}

.discovery-header {
    margin: 0;
}
/* zmiana czcionki "Dodane przez..." */
.discovery-details {
    color: #ffffff;
    font-size: 0.8rem;
}

/* zmiana koloru odnośnika i zawijanie, gdy zbyt długie */
.discovery-link,
.discovery-link:visited {
    color: #007AFF;
    word-wrap: break-word;
}

/* wyrównanie i większa czcionka */
.discovery-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.2rem;
}

/* zmieniamy paragraf na element liniowy */
.discovery-votes {
    display: inline;
    color: #ffffff;
}

/* nadpisanie domyślnych marginesów */
.discovery-bar > p {
    margin: 0 4px;
}

/* zmiana koloru przycisków głosowania po najechaniu */
.upvote:hover {
    color: #4CD964;
}

.downvote:hover {
    color: #FF3B30;
}


footer {
    margin-top: 20px;
    text-align: center;
}

.discovery-add-button {
    position:fixed;
    width:50px;
    height:50px;
    bottom:40px;
    right:40px;
    background-color:#4CD964;
    color:#4e0c57;
    box-shadow: 2px 2px 3px #999;
    display: flex;
    justify-content: center;
    align-items: center;
}